html{
    font-size: 16px;

}
select{

    width: auto;
    padding: 0 2%;
    margin: 0;

}

.list-block .item-link.list-button {
    padding: 0 .75rem;
    text-align: center;
    color: #0894ec;
    display: block;
    line-height: 1.7rem;
}
option{

    text-align:center;

}
